<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.10.120:3306/proyectobdfa?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">F_admin</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.password">12345</property>
    <mapping class="com.entidades.Articulo"/>
    <mapping class="com.entidades.Cliente"/>
    <mapping class="com.entidades.CompraCab"/>
    <mapping class="com.entidades.CompraDet"/>
    <mapping class="com.entidades.Proveedor"/>
    <mapping class="com.entidades.Tipo"/>
    <mapping class="com.entidades.VentaCab"/>
    <mapping class="com.entidades.VentaDet"/>
    <mapping class="com.reportes.IniciarReportes"/>
    <mapping class="com.entidades.Usuarios"/>
    <mapping class="com.entidades.Funcionario"/>
  </session-factory>
</hibernate-configuration>
